body {
  display: grid;
  place-items: center;
  background-color: #e3516e;
}
.foot {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: conic-gradient(
    #fade8b 25%,
    #e3516e 0 50%,
    #f7f3d7 0 75%,
    #51b5a9 75%
  );
}
